
body{
    color: black;
    width: 1058px;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}
a:hover{
    color:rgb(247, 7, 195);
    transition: all 0.5 ease;
}
.nav-link{
    font-size: 18px;
}
.nav-link:hover{
    color: rgb(247, 7, 195);
}
.navbar-toggler{
    opacity: 1;
}
nav{
    min-width: 100%;
    align-items: center;
    margin: auto;
    
}
header,main{
    margin-top: 10%;
}
article{
    position: absolute;
    width: 1058px;
}
.row{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   justify-content: center;
    margin:20px ;
   justify-content: center;
   align-items: center;
}

.btn-primary{
    color: white;
    background-color: blueviolet;
    border: none;
}
.btn-primary:hover{
    background-color: rgb(247, 7, 195);
    border: none;
}

h3,p{
    font-style: bold;
}
